# Datagit
*.pyc
__pycache__

# Virtual Environment
venv*

#LaTeX
*.aux
*.log
*.out
*.synctex.gz
*.toc
documentation.pdf
##Bibtex
*.bbl
*.blg
documentation.dvi

# Jupyter
notebooks/.ipynb_checkpoints/

# PyCharm
.idea
